<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#">Kovacs Produções</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a class="nav-link active" href="#"><i class="fa fa-home fa-lg"></i></a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#">Gestão</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#">Atividades<br /></a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="#">Portifólio<br /></a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav">
            <li role="presentation" class="nav-item"><a class="nav-link active" href="#"><i class="fa fa-user-circle-o fa-lg"></i></a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#"></a></li>
        </ul>
    </div>
</nav>