<header>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid"><a class="logo mr-lg-3 pr-lg-3" href="#"><img src="blob:file:///db0be977-02d8-4f3f-8bce-ad6f5141d54a" alt="SAJ ADV" /></a>
            <div class="navbar-tools order-lg-1">
                <div class="d-inline-block pr-1 navbar-search"><input class="form-control" type="search" />
                    <div class="dropdown-menu"><a class="dropdown-item py-2 px-3" href="#"><span class="navbar-icon navbar-icon-atd"></span><span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span></a><a class="dropdown-item py-2 px-3" href="#"><span class="navbar-icon navbar-icon-people"></span><span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span></a>
                        <a
                            class="dropdown-item py-2 px-3" href="#"><span class="navbar-icon navbar-icon-folder"></span><span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span></a><a class="dropdown-item py-2 px-3" href="#"><span class="navbar-icon navbar-icon-doc"></span><span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span></a>
                            <a
                                class="dropdown-item py-2 px-3" href="#"><span class="navbar-icon navbar-icon-intimations"></span><span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span></a>
                                <div class="px-3 pt-2 text-center"><a class="d-block" href="#">mais resultados</a><span class="d-block legend">1 - 10 de 22000</span></div>
                    </div>
                </div>
                <div class="dropdown d-inline-block px-1 navbar-notification"><a class="d-block position-relative" href="#" data-toggle="dropdown"><img src="blob:file:///dda767af-07d2-4405-94d4-838d93905cac" /><span class="badge badge-pill badge-notification">5</span></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Notificações</div><a class="dropdown-item py-2 pr-3 pl-4" href="#"><span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span><p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p></a><a class="dropdown-item py-2 pr-3 pl-4 active"
                            href="#"><span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span><p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p></a><a class="dropdown-item py-2 pr-3 pl-4" href="#"><span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span><p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p></a>
                        <a
                            class="dropdown-item py-2 pr-3 pl-4" href="#"><span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span>
                            <p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p>
                            </a>
                    </div>
                </div>
                <div class="dropdown d-inline-block px-1"><a class="d-block" href="#" data-toggle="dropdown"><img src="blob:file:///2f9d8ca7-f14d-430e-9be0-b78f9a4da803" /></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Gerais</div><a class="dropdown-item" href="#"><span class="navbar-icon"></span> Área do cliente
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-config"></span> Cadastros Gerais
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-config"></span> Configurações de Notificação
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-pencil"></span> Personalização
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Importação de Dados
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Registro de Acesso ao Sistema
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Relatórios
                        </a></div>
                </div>
                <div class="dropdown d-inline-block pl-1"><a class="d-block" href="#" data-toggle="dropdown"><img class="user-photo" src="https://sajadv.s3-sa-east-1.amazonaws.com/1/foto-pessoa-perfil/-783009143_1471629786795_1_1.png?pfdrid_c=true" /></a>
                    <div class="dropdown-menu user">
                        <div class="dropdown-header">Advogado SAJ ADV</div><a class="dropdown-item" href="#"><span class="navbar-icon"></span> Meus Dados
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon"></span> Meu Plano
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-key"></span> Alterar Senha
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon"></span> Área do Assinante
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon"></span> Wizzard
                        </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-exit"></span> Sair
                        </a></div>
                </div>
            </div><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse order-lg-0" id="navbar">
                <ul class="navbar-nav mr-2">
                    <li class="nav-item"><a class="nav-link nav-link-home" href="#"><img class="icon-home" src="blob:file:///638a5601-d0fe-47f2-a679-40caabf90d46" alt="Home" /></a></li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Gestão</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-atd"></span> Atendimento
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-people"></span> Pessoa
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Relatórios
                            </a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Atividades</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-calendar"></span> Calendário
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Relatórios
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon"></span> Painel de Tarefas
                            </a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Processos</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-doc"></span> Processos
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-intimations"></span> Intimações
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-doc"></span> Central de captura processual
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-doc"></span> Processos movimentados
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Relatórios
                            </a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Financeiro</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-revenue"></span> Receitas e Despesas
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-bills"></span> Contas a Pagar e Receber
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-paper"></span> Extrato de Conta, Caixa e Banco
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-paper"></span> Solicitações
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-paper"></span> Integração de Receitas
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-paper"></span> Integração de Despesas
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-reports"></span> Relatórios
                            </a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Documentos</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-folder"></span> Arquivos
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-folder"></span> Modelos de Documentos
                            </a><a class="dropdown-item" href="#"><span class="navbar-icon navbar-icon-folder"></span> Base de Conhecimento
                            </a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>