
            <div class="col-3 sidebar" id="sidebar">
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.estoque" [ngClass]="{'selected': selected == gerenteSidebarEnum.estoque"> <!-- adicionar classe 'selected' quando clicar -->
                    <div class="col-1"><i class="fas fa-boxes"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Estoque</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.portifolio" [ngClass]="{'selected': selected == gerenteSidebarEnum.portifolio">
                    <div class="col-1"><i class="fas fa-user"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Portifólio</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.vendas" [ngClass]="{'selected': selected == gerenteSidebarEnum.vendas">
                    <div class="col-1"><i class="far fa-chart-bar"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Vendas</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.akugueis" [ngClass]="{'selected': selected == gerenteSidebarEnum.akugueis">
                    <div class="col-1"><i class="fas fa-hand-holding-usd"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Alugueis</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.orcamentos" [ngClass]="{'selected': selected == gerenteSidebarEnum.orcamentos">
                    <div class="col-1"><i class="fas fa-chart-pie"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Orçamentos</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.metas" [ngClass]="{'selected': selected == gerenteSidebarEnum.metas">
                    <div class="col-1"><i class="fas fa-chart-line"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Metas</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.servicos" [ngClass]="{'selected': selected == gerenteSidebarEnum.servicos">
                    <div class="col-1"><i class="fas fa-handshake"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Serviços</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.clientes" [ngClass]="{'selected': selected == gerenteSidebarEnum.clientes">
                    <div class="col-1"><i class="fas fa-users"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Clientes</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.produtos" [ngClass]="{'selected': selected == gerenteSidebarEnum.produtos">
                    <div class="col-1"><i class="fas fa-camera"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Produtos</span></div>
                </div>
                <div class="row item-row" (click)="selected = gerenteSidebarEnum.funcionarios" [ngClass]="{'selected': selected == gerenteSidebarEnum.funcionarios">
                    <div class="col-1"><i class="fas fa-user-tie"></i></div>
                    <div class="col d-none d-md-inline-block"><span>Funcionários</span></div>
                </div>
            </div>